  <div class="container">
<form method="get" action="/login">
    <button class="btn-home" type="submit">Sign In</button>
</form>

<form method="get" action="/signup">
    <button class="btn-home" type="submit">Create Account</button>
</form>
</div>

