<form action="/login" method="POST">
  <div class="container">
    <h1>Sign In</h1>
    
    <div class="user-name">
    <label for="userName"><b></b></label>
    <input type="text"placeholder="Enter Username" name="userName" >
    </div>

    <div class="psw">
    <label for="psw"><b></b></label>
    <input type="password" placeholder="Enter Password" name="password" >
    </div>

    <p>{{err}}</p>
  
    <br>

    <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <div>
      <button class="btn" type="submit" class="signupbtn">Sign In</button>
    </div>
    <div>
      <label for="signup"><b>Not got an account?</b><a href="/signup"> Create Account</a></label>
    </div>
  </div>
</form>
