@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
	padding: 0;
	margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #5e60ce9d;
}

body {
    background-color:  #5e60ce;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-bar {
    list-style-type: none;
    background-color:   white;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2.5em;
}
    
.nav-bar ul li { 
    display: inline-block; 
}
    
.nav-bar li a { 
    padding: 50px;
    color: #5e60ce;
}

.login {
    margin-top: 0.25em;
    font-size: 1.25em;
}

.container {
    display: block; 
    background: white;
    border-radius: 10%;
    height: 75vh;
    width: 75vh;
    margin: auto;
    padding: 1em;
    box-shadow: 0px 0px 10px 10px rgba(67, 30, 126, 0.644);
}

h1 {
    margin: 0.25em;
    color: black;
    font-weight: bolder;
}

label {
    display: block; 
    margin: 1em;
}

div {
    margin: 2.5em;
}


.user-name input, .email input, .psw input {
    padding-right: 1em;
    padding-left: 1em;
    width: 50vh;
    height: 5vh;
    border-color: rgba(67, 30, 126, 0.589);
    border-style: solid;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.144);
    color: black;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px rgba(67, 30, 126, 0.336);
}


a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.btn {
    color: white;
    padding: 1em;
    border-style: hidden;
    background: linear-gradient(25deg,#5e60ce, rgba(67, 30, 126, 0.644));
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px rgba(67, 30, 126, 0.336);
    font-size: 1em;
    width: 10em;
}

.btn-home {
    color: white;
    padding: 1em;
    border-style: hidden;
    background: linear-gradient(25deg,#5e60ce, rgba(67, 30, 126, 0.644));
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px rgba(67, 30, 126, 0.336);
    font-size: 1.5em;
    width: 10em;
    margin-top: 5em;

}

::placeholder {
    color: rgba(0, 0, 0, 0.315);
}




  
